extends layout 
block content
    h2 Student Detail
    p #{student.name}

    h3 Booking history 
    if student.bookings.length 
        each booking in student.bookings 
            li Study #{booking.subject} with #{booking.student.name}
    else 
        p No bookings

    h3 Comments
    if student.comments.length 
        each comment in student.comments 
            li #{comment.text} - #{comment.score} point - #{comment.teacher.name}
    else
        p No Comments


