extends layout 
block content
    h2 Teacher Detail 
    p #{teacher.name}
    p #{teacher.age}

    h3 Booking History 
    if teacher.bookings.length
        each booking in teacher.bookings 
            li Study #{booking.subject} with #{booking.student.name} 
    else 
        p No Bookings

    h3 Comments About
    if teacher.comments.length 
        each comment in teacher.comments 
            li #{comment.text} - #{comment.score} point
    else
        p No Comments

    h3 Ads
    if teacher.adversiments.length 
        each adversiment in teacher.adversiments 
            li #{adversiment.title} - #{adversiment.content} - #{adversiment.price}$
    else
        p No ads