extends layout 
block content
    h2 Student Detail 
    p #{teacher.name}

    h3 Booking History 
    if teacher.bookings.length
        each booking in teacher.bookings 
            li Study #{booking.subject} with #{booking.teacher.name} 
    else 
        p No Bookings

    h3 Comments About
    if teacher.comments.length 
        each comment in teacher.comments 
            li #{comment.text} - #{comment.score} point
    else
        p No Comments
